<div id="@TargetId" hx-swap-oob="@SwapDescriptor">@ChildContent</div>

@code {
    [Parameter, EditorRequired]
    public string TargetId { get; set; } = default!;

    [Parameter, EditorRequired]
    public string SwapDescriptor { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(TargetId))
        {
            throw new InvalidOperationException($"{nameof(TargetId)} must be provided.");
        }

        if (string.IsNullOrWhiteSpace(SwapDescriptor))
        {
            throw new InvalidOperationException($"{nameof(SwapDescriptor)} must be provided.");
        }
    }
}
