@inherits LayoutComponentBase
@attribute [HrzLayoutFamily("main")]

<SectionContent SectionName="AppHeaderNav">
    <DemoNavLinks />
</SectionContent>

<section class="main-layout-shell">
    @Body
</section>
